$o-theme-font-configs: (
   'Nunito': (
      'family':                         ('Nunito', sans-serif),
      'url':                            'Nunito:300,400,600,700',
      'properties' : (
         'base': (
            'font-size-base':           1rem,
         ),
      ),
   ),
   'AlumniSansPinstripe': (
    'family':                         ('AlumniSansPinstripe', sans-serif),
    'properties' : (
       'base': (
          'font-size-base':           1rem,
       ),
    ),
 ),
);
$o-color-palettes: map-merge($o-color-palettes,
   (
      'airproof': (
         'o-color-1':                    #bedb39,
         'o-color-2':                    #2c3e50,
         'o-color-3':                    #f2f2f2,
         'o-color-4':                    #ffffff,
         'o-color-5':                    #000000,

        //  'o-cc*-bg':                     'o-color-*',
        //  'o-cc*-text':                   'o-color-*',
        // 'o-cc2-headings':                'o-color-2',
        //  'o-cc*-h2':                     'o-color-*',
        //  'o-cc*-h3':                     'o-color-*',
        //  'o-cc*-h4':                     'o-color-*',
        //  'o-cc*-h5':                     'o-color-*',
        //  'o-cc*-h6':                     'o-color-*',
        //  'o-cc*-link':                   'o-color-*',
        //  'o-cc*-btn-primary':            'o-color-*',
        //  'o-cc*-btn-primary-border':     'o-color-*',
        //  'o-cc*-btn-secondary':          'o-color-*',
        //  'o-cc*-btn-secondary-border':   'o-color-*',

      ),
   )
);
$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'airproof');


$o-website-values-palettes: (
   (
      // Colors
      'color-palettes-name':            'airproof',

      // Fonts
      'font':                           'Nunito',
      'headings-font':                  'Nunito',
      'navbar-font':                    'AlumniSansPinstripe',
      'buttons-font':                   'Nunito',
      // Layout
      'body-image': '/theme_airproof/static/src/img/flowing-lines-grey-freesvg.svg',
      'body-image-type': 'image',
      // Templates
      'header-template': 'airproof',
      'footer-template': 'airproof',
      // Buttons
      // ...
   ),
);

