/* cyrillic */
@font-face {
    font-family: 'AlumniSansPinstripe';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/website_airproof/static/fonts/AlumniSansPinstripe-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'AlumniSansPinstripe';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/website_airproof/static/fonts/AlumniSansPinstripe-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'AlumniSansPinstripe';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/website_airproof/static/fonts/AlumniSansPinstripe-Regular.woff2) format('woff2');
}